{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Mann Island Tech Test</h1>

                {{ form_start(form) }}

                {{ form_row(form.company) }}

                <button type="submit" name="get_quote" id="get_quote">Get Quote</button>
                <button type="submit" name="get_directors" id="get_directors">Get Directors</button>

                {% if quote is not null %}
                    <div>
                        Stock Quote: &dollar;{{ quote.quote|number_format(2, '.', ',') }} ({{ quote.date|date('d/m/Y H:i:s') }})
                    </div>
                {% endif %}

                {% if quote.company is defined %}

                    {% if quote.company.stockQuotes is not empty %}
                        <h3>Previous Quotes (showing last 5)</h3>
                        <ol>
                            {% for quote in quote.company.stockQuotes|slice(1,5) %}
                                <li>&dollar;{{ quote.quote|number_format(2, '.', ',') }} ({{ quote.date|date('d/m/Y H:i:s') }})</li>
                            {% endfor %}
                        </ol>
                    {% endif %}

                    {% if quote.company.directors is not empty %}
                        <h3>Directors</h3>
                        <ol>
                            {% for director in quote.company.directors %}
                                <li>{{ director.name }}</li>
                            {% endfor %}
                        </ol>
                    {% endif %}

                {% endif %}
                {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;
        }

        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        p {
            margin: 0 0 1em 0;
        }

        a {
            color: #0000F0;
        }

        a:hover {
            text-decoration: none;
        }

        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }

        #wrapper {
            background: #FFF;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
        }

        #container {
            padding: 2em;
        }

        #welcome, #status {
            margin-bottom: 2em;
        }

        #welcome h1 span {
            display: block;
            font-size: 75%;
        }

        #icon-status, #icon-book {
            float: left;
            height: 64px;
            margin-right: 1em;
            margin-top: -4px;
            width: 64px;
        }

        #icon-book {
            display: none;
        }

        @media (min-width: 768px) {
            #wrapper {
                width: 80%;
                margin: 2em auto;
            }

            #icon-book {
                display: inline-block;
            }

            #status a, #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s .2s forwards;
                animation: fade-in 1s .2s forwards;
            }
        }
    </style>
{% endblock %}
